html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 1.6 rem Helvetica;
  height: 100vh;
  margin: 0;
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header  " "main  " "footer  ";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5rem 1fr 5rem;
      grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

/* HEADER*/
header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #203040;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

header .brand button {
  background: none;
  font-size: 2rem;
  padding: 0.5rem;
  border: none;
  color: white;
  /* font-size: 3rem;
            padding: 0.5rem;
            background: none; */
}

header .brand a {
  color: white;
  font-size: 2.7rem;
  font-weight: bold;
}

header .header-links a {
  color: white;
}

/* END_HEADER*/
.flexCentered {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

/*  PRODUCTS   */
img {
  border-radius: 0.5rem;
}

main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

main .card {
  border: .1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

main .card a img.medium {
  max-width: 29rem;
}

main .card .card-body {
  padding: 1rem;
}

main ul.products {
  list-style-type: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  /* margin: 0; */
}

main ul.products li {
  /* list-style-type: none; */
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 34rem;
      -ms-flex: 0 1 34rem;
          flex: 0 1 34rem;
  padding: 0;
  height: 50rem;
  border-bottom: .1rem #c0c0c0 solid;
}

main ul.products li .product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

main ul.products li .product .product-name {
  font-size: 2rem;
}

main ul.products li .product .product-brand {
  font-size: 1.2rem;
  color: #808080;
}

main ul.products li .product .product-price {
  font-size: 2.5rem;
  font-weight: bold;
}

main ul.products li .product .product-image {
  min-width: 34rem;
  max-width: 34rem;
}

main ul.products li .product .product-rating {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: black;
  color: white;
}
