html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-size: 1.9rem; 
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#root {
    height: 100%;
}
.grid-container {
    display: grid;
    grid-template-areas: "header  " "main  " "footer  ";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

.badge {
                background-color: #f02020;
                color: #ffffff;
                border-radius: 50%;
                display: inline-block;
                width: 2.3rem;
                text-align: center;
                margin-left: 0.2rem;
            }
header {
    grid-column: 1;
    grid-row: 1;
    grid-area: header;
    background-color: #203040;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    .brand {
        button {
            background: none;
            font-size: 2rem;
            padding: 0.5rem;
            border: none;
            color: white;
        }
        a {
            color: white;
            font-size: 2.7rem;
            font-weight: bold;
            &:hover {
            text-decoration: underline;
            }
        }
    }
    .header-links a {
        color: white;
        &:hover {
            text-decoration: underline;
        }
    }
}

/* COMMON */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.row.center {
    justify-content: center;
}
.row.top {
    align-items: flex-start;
}
.col-25rem {
    flex: 1 1 25rem;
}
.col-50rem {
    flex: 2 1 50rem;
}
.minw-30rem {
    min-width: 30rem;
}

a {
    text-decoration: none;
}

a:hover {
    color: #ff8000;
}

h1 {
    font-size: 1.8rem;
    padding: 1rem 0;
}
h2 {
    font-size: 1.6rem;
}

img {
     border-radius: 0.5rem;
}

/*  PRODUCTS   */
@mixin buttonSelectBaseStyles() {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem; 
}

main {
    grid-row: 2;
    grid-column: 1;
    grid-area: main;
    .card {

        border: .1rem #c0c0c0 solid;
        background-color:#f8f8f8;
        border-radius: 0.5rem;
        margin: 1rem;
        padding: 1rem;

         &.card-border-none {
        border: none;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            li {
                margin-top: 1rem;
                input,
                select,
                textarea {
                    @include buttonSelectBaseStyles(); 
                    &:hover {
                        border: 0.2rem #404040 solid;
                    }
                }
                button {
                    @include buttonSelectBaseStyles(); 
                    background-color: #f8f8f8;
                    cursor: pointer;
                    &.primary {
                        margin-top: 0.5rem;
                        background-color: #f0c040;
                    }
                    &.block {
                        width: 100%;
                    }
                    &:hover {
                        border: 0.2rem #404040 solid;
                    }
                
                }
            }
        }

        a {
            img{
                &.small {
                    max-width: 5rem;
}
                &.medium {
                    max-width: 29rem;
                    width: 100%;
                }
                &.large {
                    width: 100%;
                }
            }
        }
        
        .card-body{
            display: flex;
            flex-direction: column;
            align-content: space-between;
            
            .rating {
            span {
                color: #f0c040;
                margin: 0.1rem;
                &:last-child {
                    color: #404040;
                    font-size: 1.5rem;
                }
            }
            
            }
            .price {
                font-size: 1.5rem;
                margin-top: 0.7rem;
            }
        }
       
    }
}

//ALERTS
.success {
    color: #20a020;
}
.danger {
    color: #a02020;
}
.alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    
}
.alert-info {
    color: #2020a0;
    background-color: #e0e0ff;
}
.alert-danger {
    color: #a02020;
    background-color: #e0e0ff;
}

footer {
    grid-row: 3;
    grid-column: 1;
    grid-area: footer;
    background-color: black;
    color: white;
    ;
}