html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font: 1.6 rem Helvetica;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header  " "main  " "footer  ";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5rem 1fr 5rem;
      grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #203040;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

header .brand button {
  background: none;
  font-size: 2rem;
  padding: 0.5rem;
  border: none;
  color: white;
}

header .brand a {
  color: white;
  font-size: 2.7rem;
  font-weight: bold;
}

header .header-links a {
  color: white;
}

/* COMMON */
.flexCentered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexRow{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
}

img {
  border-radius: 0.5rem;
}

/*  PRODUCTS   */
main {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

main .card {
  border: .1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

main .card a img.medium {
  max-width: 29rem;
  width: 100%;
}

main .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

main .card .card-body .rating span {
  color: #f0c040;
  margin: 0.1rem;
}

main .card .card-body .rating span:last-child {
  color: #404040;
  font-size: 1.5rem;
  color: #404040;
}

main .card .card-body .price {
  margin-top: 1rem;
  font-size: 2rem;
}

footer {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: black;
  color: white;
}
