html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.9rem;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.grid-container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header  " "main  " "footer  ";
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 5rem 1fr 5rem;
      grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  width: 2.3rem;
  text-align: center;
  margin-left: 0.2rem;
}

header {
  -ms-grid-column: 1;
  grid-column: 1;
  grid-row: 1;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #203040;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5rem;
}

header .brand button {
  background: none;
  font-size: 2rem;
  padding: 0.5rem;
  border: none;
  color: white;
}

header .brand a {
  color: white;
  font-size: 2.7rem;
  font-weight: bold;
}

header .brand a:hover {
  text-decoration: underline;
}

header .header-links a {
  color: white;
}

header .header-links a:hover {
  text-decoration: underline;
}

/* COMMON */
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row.top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.col-25rem {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

.col-50rem {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 50rem;
          flex: 2 1 50rem;
}

.minw-30rem {
  min-width: 30rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
}

img {
  border-radius: 0.5rem;
}

.primary {
  margin-top: 0.5rem;
  background-color: #f0c040;
}

/*  PRODUCTS   */
input,
button {
  background-color: #e0ffff;
  border-radius: 0.5rem;
  height: 3rem;
}

main {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

main .card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
}

main .card.card-border-none {
  border: none;
}

main .card ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main .card ul li {
  margin-top: 1rem;
}

main .card ul li input,
main .card ul li select,
main .card ul li textarea {
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
}

main .card ul li input:hover,
main .card ul li select:hover,
main .card ul li textarea:hover {
  border: 0.2rem #404040 solid;
}

main .card ul li button {
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  background-color: #f8f8f8;
  cursor: pointer;
}

main .card ul li button.primary {
  margin-top: 0.5rem;
  background-color: #f0c040;
}

main .card ul li button.block {
  width: 100%;
}

main .card ul li button:hover {
  border: 0.2rem #404040 solid;
}

main .card a img.small {
  max-width: 5rem;
}

main .card a img.medium {
  max-width: 29rem;
  width: 100%;
}

main .card a img.large {
  width: 100%;
}

main .card .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

main .card .card-body .rating span {
  color: #f0c040;
  margin: 0.1rem;
}

main .card .card-body .rating span:last-child {
  color: #404040;
  font-size: 1.5rem;
}

main .card .card-body .price {
  font-size: 1.5rem;
  margin-top: 0.7rem;
}

.success {
  color: #20a020;
}

.danger {
  color: #a02020;
}

.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
}

.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger {
  color: #a02020;
  background-color: #e0e0ff;
}

footer {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: black;
  color: white;
}

.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem;
}

.form label {
  margin: 1rem 0;
  display: block;
}

.dropdown {
  display: inline-block;
  margin-left: 0.5rem;
}

.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin-top: 0rem;
  border-radius: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.checkout-steps > div {
  border-top: 0.4rem #c0c0c0 solid;
  color: #c0c0c0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
  font-weight: bold;
}

.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
